#caracteristicas{
    display:  grid;
    place-content: center;
    text-align: justify;
    font-size: 2.4rem;
    padding: 2.4rem;


}
.caracteristicas__container{

}
.caracteristicas__lista{

}
.caracteristicas__lista_item{
    
}
.caracteristicas__lista_item i{
    color: var(--color-primary);
}