
.header__menu{
    justify-content: start;
}

header{
    width: 100%;

}

/** * hero */
#hero__container{
    height: 40rem;
    display: grid;
    place-content: end start ;
}
.hero__btn{
    width: 20rem;
}


/* * Estilos de tarjetas */

.programas__card_list{
    flex-direction: row;
}
.programas__card_list .programas__card {
    justify-content: end;
    height: 50rem;
    background:rgba(0, 0, 0, 0.804); 
}

.programas-card__img{
    display: block;
    width: 100%;
    overflow: hidden;
    opacity: 0.5;
}

.programas__card  p{
    display: block;
    text-align: justify;
}
.btn-info{
    display: none;

}

/** * Estilos de las caracteristicas */

.caracteristicas__lista{
    display: flex;
    gap: 2.4rem;


}
