.header__container{
    
    padding-bottom: 1.2rem;
    background-color: var(--color-secondary);
    
}

.header__logo{
    
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1.2rem;
    padding-left: 1.2rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-primary);
    
}
.header__logo img{
    
}
.header__menu{
    display: flex;
    justify-content: space-between;

    

}
.header__menu_item{

    padding: 1.2rem;
    font-size: 1.8rem;
    border-radius: 5px;
    transition: 300ms;

}
.header__menu_item:hover{
    background-color: var(--color-primary);
    color: var(--color-secondary);
}