#hero__container{

    padding: 2.4rem;
    margin-top: 0.4rem;
    background-image:linear-gradient(45deg, rgb(108, 174, 245), rgba(245, 241, 241, 0.146)), url(/media/hero.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
.hero__title{
    color:  var(--color-secondary);
}
.hero__btn{
    
}